@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

@layer components {
	* {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.stickyNavbar {
		@apply sticky top-0;
	}

	.stickyNavbarStyles {
		@apply flex bg-[#F6F8FB] items-center justify-between w-full px-8 sm:px-16 py-5 shadow-lg;
	}

	.sidebar-link {
		@apply px-10 rounded-lg py-4 text-lg text-[#5C637C] md:text-sm cursor-pointer hover:bg-white hover:shadow-md transition duration-200 ease-in-out;
	}

	.btn {
		@apply bg-gradient-to-r from-dc-purple to-dc-blue hover:from-dc-blue hover:to-dc-purple text-white text-sm md:text-sm lg:text-base xl:text-lg px-5 py-4 sm:px-6 sm:py-5 rounded-xl shadow-2xl hover:shadow-xl focus:outline-none transition-all duration-200 ease-in-out cursor-pointer;
	}
	.btn-sm {
		@apply bg-gradient-to-r from-dc-purple to-dc-blue hover:from-dc-blue hover:to-dc-purple text-white text-sm md:text-sm lg:text-base px-4 py-3 sm:px-5 sm:py-3 rounded-xl shadow-2xl hover:shadow-xl focus:outline-none transition-all duration-200 ease-in-out cursor-pointer;
	}
	.btn-white {
		@apply bg-white text-dc-blue hover:bg-dc-blue hover:text-white text-sm md:text-sm lg:text-base xl:text-lg px-5 py-4 sm:px-6 sm:py-5 rounded-xl shadow-2xl hover:shadow-xl focus:outline-none transition-all border border-transparent hover:border-white duration-200 ease-in-out cursor-pointer;
	}

	.homeBanner {
		background-image: url("/homebanner.jpg");
		background-size: cover;
		@apply w-full h-full relative bg-cover;
	}

	.navLink {
		@apply p-3.5 bg-white rounded-xl text-gray-500 hover:bg-dc-blue hover:text-white transition duration-200 ease-in-out cursor-pointer border border-gray-100 hover:border-dc-blue;
	}

	.NavLinkActive {
		@apply bg-dc-blue text-white p-3.5 rounded-xl  border border-gray-100;
	}

	.hide-scrollbar::-webkit-scrollbar {
		width: 0px;
		background: transparent; /* make scrollbar transparent */
	}

	.dropdown:hover .dropdown-menu {
		display: block;
	}
}
